*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-level-container{
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.music-player{
  height: 90%;
  display: flex;
  color: white;
}